<form action='/' method='POST' encType='multipart/form-data'>
  <h3>Upload profile photo</h3>
  <input type='file' name='sampleFile' accept='image' />
  <input type='submit' class='btn btn-primary' />
</form>

<div class='card'>
  {{#each rows}}

    {{#if this.image}}
      <img class='card__image' src='{{this.image}}' alt='User Profile' />
    {{else}}
      <img class='card__image' src='/img/default.png' alt='User Profile' />
    {{/if}}
    <h1 class='card__title'>{{this.name}}</h1>
    <div class='card__job'>{{this.amountOfMoney}}</div>
    <p class='card__about'>{{this.briefIntro}}</p>
    <button type='button' class='btn btn-primary'>View Profile</button>
  {{/each}}
</div>